<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-nav">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/downloads">Downloads</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ranking">Ranking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/support">Support</a>
        </li>
        {% if IsUser %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle font-bold" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            {{ Username|capitalize }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/accountpanel">Accountpanel</a></li>
            <li><a class="dropdown-item" href="/accountpanel">Create Ingame Account</a></li>
            <li><a class="dropdown-item" href="/shop">Shop</a></li>
            <li><a class="dropdown-item" href="/vote">Vote</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item text-danger" href="/logout">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-success" data-bs-toggle="modal" data-bs-target="#LoginModal" href="#">Login</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>