{% extends "index.twig" %} {% block title %} Vote for Us {% endblock %} {% block
content %} {% if IsUser %}
<div class="col">
  <div class="card card-body">
    <div class="card-title">Vote for Us</div>
    {% include "extensions/notification.twig" %}

    <div class="row justify-content-center">
      <div class="col-sm-3">
        <a
          href="https://gtop100.com/topsites/Flyff/sitedetails/Tropical-Island-99062?vote=1&pingUsername={{
            Username
          }}"
          title="Flyff Private Server"
          target="_blank"
        >
          <img
            class="img-thumbnail"
            src="https://gtop100.com/assets/images/votebutton.jpg"
            border="0"
            alt="Flyff Private Server"
          />
        </a>
      </div>
    </div>
  </div>
</div>

{% else %} {% include "extensions/not_loggedIn.twig" %} {% endif %} {% endblock
%}
