{% extends "index.twig" %}
{% block title %}
    Team
{% endblock %}

{% block content %}
<div class="col">
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">Bahamut</h5>
                  <p class="card-text text-danger">Owner</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Orangensaft</h5>
                  <p class="card-text text-danger">Administrator</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Silencee</h5>
                  <p class="card-text text-danger">Administrator</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Norman</h5>
                  <p class="card-text text-warning">Game Development</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Venom</h5>
                  <p class="card-text text-primary">Webdevelopment</p>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}